* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.left {
    font-size: 2rem;
    color: black;
}

header {
    background-color: bisque;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    top: 0;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin: 0 25px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}


nav ul li a:hover {
    color: red;
    font-size: 1rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    align-items: center;
}

.firstSection > div {
    width: 30%;
}

.leftSection {
    font-size: 2rem;
}

.rightSection {
    margin-left: 35px;
}

.rightSection img {
    border-radius: 50%;
}

.purple {
    color: blueviolet;
}

li i {
    margin-right: 6px;
}

footer {
    margin-top: 10px;
    width: 100%;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
}

.connect i {
    color: black;
}

h1 {
    text-align: center;
    font-size: 44px;
}

.secondSection {
    margin-top: 50px;
    margin-bottom: 2rem;
}
.secondSection ul {
    --col-gap: 2rem;
    --row-gap: 2rem;
    --line-w: 0.25rem;
    display: grid;
    grid-template-columns: var(--line-w) 1fr;
    grid-auto-columns: max-content;
    column-gap: var(--col-gap);
    list-style: none;
    width: min(60rem, 90%);
    margin-inline: auto;
}

.secondSection ul::before {
    content: "";
    grid-column: 1;
    grid-row: 1 / span 20;
    background: rgb(225, 225, 225);
    border-radius: calc(var(--line-w) / 2);
}

.secondSection ul li:not(:last-child) {
    margin-bottom: var(--row-gap);
}

.secondSection ul li {
    grid-column: 2;
    --inlineP: 1.5rem;
    margin-inline: var(--inlineP);
    grid-row: span 2;
    display: grid;
    grid-template-rows: min-content min-content min-content;
}

.secondSection ul li .date {
    --dateH: 3rem;
    height: var(--dateH);
    margin-inline: calc(var(--inlineP) * -1);

    text-align: center;
    background-color: var(--accent-color);

    color: white;
    font-size: 1.25rem;
    font-weight: 700;

    display: grid;
    place-content: center;
    position: relative;

    border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

.secondSection ul li .date::before {
    content: "";
    width: var(--inlineP);
    aspect-ratio: 1;
    background: var(--accent-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
    position: absolute;
    top: 100%;

    clip-path: polygon(0 0, 100% 0, 0 100%);
    right: 0;
}

.secondSection ul li .date::after {
    content: "";
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    background: white;
    border: 0.3rem solid var(--accent-color);
    border-radius: 50%;
    top: 50%;

    transform: translate(50%, -50%);
    right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

.secondSection ul li .title,
.secondSection ul li .descr {
    background: white;
    position: relative;
    padding-inline: 1.5rem;
}

.secondSection ul li .title {
    overflow: hidden;
    padding-block-start: 1.5rem;
    padding-block-end: 1rem;
    font-weight: 500;
    color: black;
}

.secondSection ul li .descr {
    padding-block-end: 1.5rem;
    font-weight: 300;
    color: black;
}

.secondSection ul li .title::before,
.secondSection ul li .descr::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 0.5rem;
    background: black;
    left: 50%;
    border-radius: 50%;
    filter: blur(4px);
    transform: translate(-50%, 50%);
}

.secondSection ul li .title::before {
    bottom: calc(100% + 0.125rem);
}

.secondSection ul li .descr::before {
    z-index: -1;
    bottom: 0.25rem;
}

@media (min-width: 40rem) {
    .secondSection ul {
        grid-template-columns: 1fr var(--line-w) 1fr;
    }

    .secondSection ul::before {
        grid-column: 2;
    }

    .secondSection ul li:nth-child(odd) {
        grid-column: 1;
    }

    .secondSection ul li:nth-child(even) {
        grid-column: 3;
    }

    /* start second card */
    .secondSection ul li:nth-child(2) {
        grid-row: 2/4;
    }

    .secondSection ul li:nth-child(odd) .date::before {
        clip-path: polygon(0 0, 100% 0, 100% 100%);
        left: 0;
    }

    .secondSection ul li:nth-child(odd) .date::after {
        transform: translate(-50%, -50%);
        left: calc(100% + var(--col-gap) + var(--line-w) / 2);
    }

    .secondSection ul li:nth-child(odd) .date {
        border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
    }
}

.connect {
    margin-right: 10px;
}